.body{
    margin: 0;
}



/* Cabecalho */

.topo{
    background-color: #838383;
    height: 20px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 16px;


    
    
    background-color: #EBE5E5;
}

.menu{
    /* menu 1 */
    width: 65px;
    height: 60px;
    left: 24px;
    top: 77px;
}

.icone-menu{
    height: inherit;
}

.logo{
    height: inherit;

}

.login{
    width: 65px;
    height: 60px;
    background-color: #EBE5E5;
    border: #EBE5E5;
}

.icone-login{
    height: inherit;
    width: fit-content;

}



/* Banner */

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 350px;
    background: #858640;
}

.banner-frase{
    font-family: 'SeoulHangang';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    padding: 50px;
}
